.rules-button{
  position: fixed;
  bottom: 20px; 
  left: 5%; 
  transform: translateX(-50%); 
  padding: 10px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000; 
}

.rules-tab {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    max-height: 80vh; 
  }
  
  .rules-tab h2 {
    margin-top: 0;
  }
  
  .rules-content {
    max-height: 60vh; 
    overflow-y: auto; 
  }
  
  .rules-tab p {
    margin-bottom: 20px;
  }
