.auth-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: solid 2px lightskyblue;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.auth-button-intro {
  display: flex;
  gap: 50px; 
}

.auth-button:hover {
  background-color: blue;
  box-shadow: 0px 15px 20px lightskyblue;
  color: #fff;
  transform: translateY(-7px);
}

.auth-button:active {
  transform: translateY(-1px);
}

.blue{
  border: solid 2px var(--main-blue-color) !important;
}

.blue:hover{
  background-color: var(--main-blue-color) !important;
  box-shadow: 0px 15px 20px rgba(46, 92, 229, 0.4);
}

.danger{
  border: solid 2px var(--main-red-color) !important;
}
.danger:hover{
  background-color: var(--main-red-color) !important;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}